input {text-align: right;
      min-width: 400px;
  }

input.id {text-align: right;
  min-width: 100px;
}

input.amount {text-align: right;
  min-width: 100px;
}

input.checkbx {text-align: right;
  min-width: 100px;
}

body {background-color: #f5f5dc;}
.body { width: 750px; margin: 0px auto;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0073e6;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #e60073;
}

.active {
  background-color: #990073;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.info, .required, span{
 border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

tr:nth-child(even) {
  background-color: #d11aff;
}

tr:nth-child(odd) {
  background-color: #e60073;
}

.dropbtn {
  background-color: #e60073;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

div.btn{
  background-color: #005765;
  text-decoration-color: aliceblue;
  max-width: 90px;
  margin: 10px;
  padding: 10px;
}

