<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link th:href="@{css/lgn.css}" href="../../static/css/lgn.css"  rel="stylesheet" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

 <div class="limiter">
     <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" th:action="@{/signin}" method="post">

                    <span class="login100-form-title p-b-34 p-t-27">
                                Log in
                            </span>

                    <div th:if="${param.error}" class="container-login100-form-btn">
                        Invalid username and password.
                    </div>

                    <div  th:if="${param.logout}" class="container-login100-form-btn">
                        You have been logged out.
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input class="input100" type="text" id="username" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" id="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input  class="input-checkbox100" type="checkbox" id="remember-me" name="remember-me">
                        <label class="label-checkbox100" for="remember-me">Remember me</label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>

                </form>
            </div>
     </div>
 </div>

</body>
</html>