<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Order Successful</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css.css" />
</head>
<body>
<ul>
    <li><a th:href="@{/}" target="_self">Home</a></li>
    <li><a th:href="@{/orders}" target="_self">Your Orders JSON Format</a></li>
    <li><a th:href="@{/orderlist}" target="_self">Your Orders Table Format</a></li>
    <li><a th:href="@{/order}" target="_self">New Order</a></li>
    <li><a th:href="@{/logout}" target="_self">Logout</a></li>
</ul>
<br>
<br>
<div>
Congratulations! Your order has been placed!
</div>
</body>
</html>